<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stránka o knihách{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Ahoj, jsi přihlášen jako {{ user.username }}.</p>
    <p>Tvoje příjmení je {{ user.last_name }}.</p>
    {% endif %}
    <ul>
        <li><a href="{% url 'seznam_knih' %}">Seznam knih</a></li>
        <li><a href="{% url 'formular' %}">Zadání nové knihy</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Odhlásit se</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Přihlásit se</a></li>
        {% endif %}
        <li><a href="{% url 'my_form' %}">Testovací form</a></li>
    </ul>
    {% block content %}  
    <p>Tato stránka není dodělaná...</p>
    {% endblock %}
</body>
</html>