<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nová kniha</title>
</head>
<body>
    <h1>Zadej novou knihu:</h1>

    <form method="POST" action="/">
        {% csrf_token %}
        <label for="jmeno">Zadej jméno knihy:</label>
        <input type="text" id="jmeno" name="jmeno" placeholder="Sem piš! Nikam jinam...">
        <button>Odešli</button>
    </form>
</body>
</html>